In [ ]:
#Задание 1
import pandas as pd
log = pd.read_csv('visit_log.csv', sep = ";")

In [88]:
def channel(row):
    for i in row:
        if row["traffic_source"] == "yandex" or row["traffic_source"] == "google":
            return "organic"
        elif row["traffic_source"] == "paid" or row["traffic_source"] == "email":
            if row["region"] == "Russia":
                return "ad"
            else: return "other"
        else:
            return row["traffic_source"]
log["source_type"] = log.apply(channel, axis = 1)
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic

In [89]:
#Задание 2
url = pd.read_csv('URLs.txt')
url.head()
url[url.url.str.contains('/[0-9]{8}-', regex=True)].head()

                                                 url
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...

In [90]:
#Задание 3
ratings = pd.read_csv('ratings.csv')

In [91]:
ratings_count = ratings.groupby('userId')['timestamp']
ratings_count = ratings_count.agg({'count',  lambda x: max(x) - min(x)})
ratings_count = ratings_count.rename(columns={'<lambda_0>':'time'}).reset_index()
ratings_count[ratings_count['count'] > 100]['time'].mean()

40080507.4496124

In [ ]:
#Задание 4

In [100]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)

In [102]:
table=rzd.merge(auto, how='outer', on='client_id')
table=table.merge(air, how='outer', on='client_id')
table.loc[table.rzd_revenue.isnull(), 'rzd_revenue',]=0
table.loc[table.auto_revenue.isnull(), 'auto_revenue',]=0
table.loc[table.air_revenue.isnull(), 'air_revenue',]=0
table_adress=table.merge(client_base, how='outer', on='client_id')